<!DOCTYPE html>
<html>
<head>
  <title>Preparate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
<div class="logo">
</div>
<div class="row">



<nav id="navigation">
<ul>
<li><%= link_to "inicio", root_path%></li>
<li><%= link_to "acerca", page_acerca_path%></li>
<li><%= link_to "contacto", page_contacto_path%></li>
<% if user_signed_in? %>

<li><%= link_to 'Edit profile', edit_user_registration_path%> </li>
<li><%= link_to 'logout', destroy_user_session_path, method: :delete%></li>
<% else %>

<li><%= link_to 'sign up', new_user_registration_path%></li>
<li><%= link_to 'login', new_user_session_path%></li>
<% end %>
</ul>
</nav>

</div>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>





<div class="row">
<%= yield %>
</div>


</body>
</html>
